.editor-header {
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0;

  @media screen and (max-width: 540px) {
    gap: 2rem;
    align-items: flex-start;
    flex-direction: column-reverse;
  }

  .format-buttons {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 540px) {
      flex-direction: column;
    }
  }
}
