.print-page-wrapper {
  flex: 1;

  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
}

.print-page-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;

  @media screen and (max-width: 540px) {
    & {
      padding: 0.5em 0;
    }
  }
}

.print-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  padding: 2rem 1rem;

  @media screen and (max-width: 1600px) {
    & {
      zoom: 0.6;
    }
  }

  @media screen and (max-width: 1080px) {
    & {
      width: 100%;
      transform-origin: top center;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 540px) {
    & {
      zoom: 0.3;
    }
  }
}

.print-page {
  text-align: left;
  background-color: var(--color-background-lightest);
  overflow-y: auto;
  box-shadow: var(--box-shadow-inset);
  padding: 1.5cm 2cm;
  line-height: 1.2;
  font-size: 0.3cm;
  width: 21cm;
  background: linear-gradient(
    to bottom,
    var(--color-background-lightest) 29.68cm,
    red 29.68cm,
    red 29.7cm,
    var(--color-background-lightest) 29.7cm
  );
  background-size: 100% 29.7cm;
  background-repeat: repeat-y;

  h1,
  h2,
  h3 {
    font-weight: 500;
    line-height: 1;
    margin: 1.5em 0 0.5em 0;
  }

  h1 {
    margin: 1em 0;
    font-size: 0.8cm;
    border-bottom: 1px solid var(--color-background-dark);
  }

  h2 {
    font-size: 0.7cm;
    font-weight: 500;
  }

  h3 {
    font-size: 0.6cm;
  }

  h4 {
    font-size: 0.5cm;
    font-weight: 500;
    margin: 0.2em 0;
    line-height: 1;
  }

  h5 {
    font-size: 0.4cm;
    font-weight: 500;
    margin: 0.2em 0;
    line-height: 1;
  }

  h6 {
    font-size: 0.3cm;
    font-weight: 500;
    line-height: 1;
  }

  span {
    &.bold {
      font-weight: bold;
    }

    &.italic {
      font-style: italic;
    }

    &.underline {
      text-decoration: underline;
    }
  }

  p {
    line-height: 1.5;
    margin: 1.4em 0;
  }

  table {
    border-collapse: collapse;
    border: none;
    box-shadow: none;
    text-align: left;
    font-size: 0.24cm;
    margin: 0.5cm 0;

    thead {
      font-weight: bold;
      background-color: var(--color-background);
      text-align: center;
    }

    td {
      padding: 0.2cm 0.25cm;
      border: 1px solid var(--color-background);
      vertical-align: top;
    }
  }

  pre {
    padding: 0.2cm;
    line-height: 0;
    background-color: white;
    border: 1px solid var(--color-background);
  }

  code {
    background-color: var(--color-background-lightest);
    padding: 0.2em;
    font-size: 0.25cm;
    line-height: 1;
  }

  li {
    margin: 0.2cm 0;
  }
}
