.print-page-wrapper {
  flex: 1;
  position: relative;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .scroll-to-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1000;
    box-shadow: var(--box-shadow);
  }
}

.print-page-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5em 0;

  @media print {
    & {
      display: none !important;
    }
  }

  @media screen and (max-width: 640px) {
    & {
      padding: 0.5em 0;
    }
  }
}

.print-page-container {
  box-shadow: inset 5px 5px 10px 0 var(--color-background-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  padding: 2rem 1rem;

  @media print {
    & {
      background-color: #ffffff !important;
      padding: 0 !important;
      margin: 0 !important;
    }
  }

  @media screen and (max-width: 1600px) {
    & {
      zoom: 0.6;
    }
  }

  @media screen and (max-width: 1240px) {
    & {
      zoom: 0.45;
    }
  }

  @media screen and (max-width: 960px) {
    & {
      width: 100%;
      padding: 0;
      transform-origin: top center;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 640px) {
    & {
      zoom: 0.3;
    }
  }
}

.print-page {
  text-align: left;
  background-color: var(--color-background-lightest);
  overflow-y: auto;
  box-shadow: 4px 4px 15px 0 var(--color-background-dark);
  padding: 1cm 1.5cm;
  line-height: 1.2;
  font-size: 0.4cm;
  width: 21cm;

  @media print {
    & {
      box-shadow: none !important;
      width: 100% !important;
    }
  }

  h1,
  h2,
  h3 {
    @media print {
      & {
        page-break-before: auto;
      }
    }
  }

  h1 {
    margin-top: 2em;
    margin-bottom: 0.75em;
    font-size: 0.8cm;
    border-bottom: 1px solid var(--color-background-dark);

    @media print {
      & {
        page-break-before: always;
        padding: 0 !important;
        margin: 0 !important;
      }
    }
  }

  h2 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-size: 0.7cm;
    font-weight: 500;
  }

  h3 {
    font-size: 0.6cm;
  }

  h4 {
    font-size: 0.5cm;
    font-weight: 500;
    margin: 0.2em 0;
    line-height: 1;
  }

  h5 {
    font-size: 0.4cm;
    font-weight: 500;
    margin: 0.2em 0;
    line-height: 1;
  }

  h6 {
    font-size: 0.3cm;
    font-weight: 500;
    line-height: 1;
  }

  span {
    &.bold {
      font-weight: bold;
    }

    &.italic {
      font-style: italic;
    }

    &.underline {
      text-decoration: underline;
    }
  }

  p {
    line-height: 1.4;
    margin: 0.8em 0;
  }

  table {
    border-collapse: collapse;
    border: none;
    box-shadow: none;
    text-align: left;
    font-size: 0.25cm;
    margin: 0.5cm 0;

    thead {
      font-weight: bold;
      background-color: var(--color-background);
      text-align: center;
    }

    td {
      padding: 0.2cm 0.25cm;
      border: 1px solid var(--color-background);
      vertical-align: top;
    }
  }

  pre {
    padding: 0.2cm;
    line-height: 0;
    background-color: white;
    border: 1px solid var(--color-background);
  }

  code {
    padding: 0.2em;
    font-size: 0.25cm;
    line-height: 1;
  }

  li {
    margin: 0.2cm 0;
  }
}
