:root {
  --color: #a8dadc;
  --color-dark: #457b9d;
  --color-darkest: #1d3557;
  --color-light: #f1faee;
  --color-lightest: #ffffff;
  --color-background: #f2f2f2;
  --color-background-dark: #d4d4d4;
  --color-background-darkest: #cccccc;
  --color-background-light: #fafafa;
  --color-background-lightest: #ffffff;
  --box-shadow-inset: inset -4px -4px 10px 0 var(--color),
    inset 2px 2px 10px 0 var(--color-lightest);
  --box-shadow-inset-reverse: inset 2px 2px 5px 0 var(--color),
    inset -2px -2px 5px 0 var(--color-lightest);
  --header-height: calc(clamp(3rem, 15vh, 15rem) + 0.5rem);
}

body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--color-background-light);
}

header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  color: var(--color);
  text-shadow: 1px 1px 5px var(--color-background-darkest);
  text-transform: uppercase;
  font-weight: 100;
  font-size: 3.4rem;
  line-height: 1.1;
  margin: 0 auto;
}

main {
  text-align: center;
  margin: 0 auto;
  padding: 0.5em;
}

h1 {
  max-width: unset;
}

p {
  max-width: unset;
}

button {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-shadow: var(--box-shadow-inset);
  display: inline-block;
  font-size: 0.7rem;
  text-transform: uppercase;
  border: 1px solid var(--color);
  transition: 0.2s box-shadow;
}

button:hover {
  box-shadow: var(--box-shadow-inset-reverse);
}

@media screen and (max-width: 540px) {
  :root {
    --header-height: 3rem;
  }
}

@media print {
  body {
    background-color: #ffffff !important;
  }

  header {
    display: none !important;
  }

  * {
    page-break-inside: avoid;
    -webkit-print-color-adjust: economy !important;
    color-adjust: economy !important;
    size-adjust: 100% !important;
    text-shadow: none !important;
    box-shadow: none !important;
  }
}
